
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-signal-black {color:#fff; background-color:#282828}

.animated-fade-in {
    animation-duration: 0.4s;
    animation-name: fadeIn;
}
.animated-fade-out {
    animation-duration: 0.4s;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0%   { opacity: 0.1; }
    100% { opacity: 1.0; }
}
@keyframes fadeOut {
    0%   { opacity: 1.0; }
    100% { opacity: 0.1; }
}

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 250px;
  height: 250px;
}
